/* NOTES */

/* A CLASS IN GENEREL
Class selectors let us target elements based on their class attribute.
A class can target more than one element.
*/

/* AN ID IN GENEREL
ID selector lets us assign a unique ID to an element. IDs are unique to the page, 
so an element can only have one ID and a page can only have one element with the same ID name.
*/

/* DESCENDANT SELECTORS
We can combine selectors to create descendant selectors that target elements that are descendants of an element. 
This makes our selectors more specific.
*/

/* PSEUDO CLASSES
Pseudo-classes are similar to classes, but they’re not explicitly defined in an element's class attribute. Unlike type, 
ID and class selectors, pseudo-classes can target elements dynamically based on user interaction, 
an element’s state, and more.
Think of a pseudo-class as a keyword we add to a selector to style a special state of an element.
*/


/* LENGHTH UNITS
PIXEL - When we use pixel units, the size we define will always remain the same and will not scale, 
regardless of the browser window and size of the screen.

/* PERCENTAGES - We can define number values more fluidly with percentage units. Percentages, by nature, are always relative to something else. 
When we use a percentage unit in CSS, the percentage value is measured relative to a parent element's length.
*/

/* EM 
Relative length units are relative to other length values. The most commonly used relative unit is the em unit. 
The em is known as a font-relative unit because it's calculated based on a parent element's font size.
*/

/*PADDING
Padding is often used to give an element's content area some breathing room by separating the content from the surrounding border area.
*/

/* BORDERS
border-width
Sets the width of a border.

border-style
Sets the style of the element’s borders.

border-color
Sets the color of a border.

border
Shorthand property for setting the individual border property values in one place.
*/

/* MARGINS 
Margins affect the area outside a box. We commonly use margin properties to create space around elements.
*/

/*DISPLAY VALUES
With the display property, we can override the default display settings of an element. In this video, we'll cover the three most common types of display values.
*/

/*WIDTH & HEIGHT PROPERTIES
By default, an element's width and height are as wide or as tall as the content it holds. But we're able to set our own dimensions with the width and height properties.
*/

/*BOX-SIZING
With the box-sizing property, we can alter the way the browser calculates an element's total width and height. We're also able to set the maximum width of an element with the max-width property.
*/

/*BACKGROUNDS
background-image
Sets one or several background images for an element.

background-size
Sets the size of a background image.

background-repeat
Controls whether or not the image is tiled and how it gets tiled both vertically and horizontally. The value repeat-y repeats the image vertically, while repeat-x repeats the background image horizontally.
*/

/*FLOATS
Floats are one of the most commonly used methods for laying out a page with CSS. When an element is floated, the element is taken out of the normal flow of the page and placed along the left or right side of its container.
*/

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

.main-header {
  background-color: #ffa949;
  padding-top: 170px;
  height: 850px;
  background-image: url("../img/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}

.wildlife {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
}

.arrow {
  width: 50px;
}

/* Floated Columns ------------------ */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: right;
}

.resorts {
  float: left;
}


/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}












